/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #070707;
    color: #fff;
    overflow-x: hidden;
}

/* Dark overlay for background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Tint kun på baggrundsbilledet */
    z-index: 1;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(7, 6, 6) 100%), /* Gradienten fader til rgb(17, 17, 17) */
    url('img/header.png'); /* Baggrundsbilledet */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    position: fixed; /* Gør navbaren fixed, så den følger med ved scroll */
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 5; /* Sørg for, at navbaren er over resten af indholdet */
    height: 130px;
    transition: background-color 0.4s ease; /* Tilføj overgang for baggrundsfarve */
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Tinted baggrund når der scrolles */
    z-index: 10; /* Sørg for, at navbaren kommer foran tekst og indhold, når der scrolles */
}

/* Navigation links til venstre */
.nav-links {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.nav-links a {
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.8;
}

.nav-links li {
    margin: 0 20px; /* Mere afstand mellem knapper */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Logo centreret øverst og meget større */
.center-logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); /* Ensures logo is perfectly centered */
}

.center-logo img {
    height: 140px; /* Behold størrelsen, men vi har reduceret padding */
}

.symbol-container {
    position: absolute;
    top: 40%; /* Juster positionen afhængig af, hvor symbolet skal placeres */
    left: 50%;
    transform: translate(-50%, -50%); /* Centerer symbolet */
    z-index: 1; /* Sørg for, at symbolet er foran baggrundsbilledet, men bag teksten */
    opacity: 0.1;
}

/* Størrelse og styling af symbolet */
.symbol {
    width: 500px; /* Justér størrelsen efter behov */
    height: 500px;
}

/* Container for sociale ikoner */
.social-icons {
    position: absolute;
    top: 85%; /* Flytter ikonerne længere ned */
    left: 70px; /* Flytter ikonerne længere ind til højre */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Mellemrum mellem ikonerne */
    z-index: 4; /* Sørg for, at ikonerne ligger foran baggrunden men bag teksten */
}

/* Stil for hvert ikon */
.social-icons a img {
    width: 50px; /* Størrelse på ikonerne */
    height: 50px;
    padding: 10px;
    background-color: rgba(114, 20, 20, 0.2); /* Lysere grå gennemsigtig baggrund */
    border-radius: 0; /* Firkantet kanter */
    filter: brightness(0) invert(1); /* Gør ikonerne hvide */
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

/* Når du hover over ikonerne */
.social-icons a img:hover {
    transform: scale(1.1); /* Lidt større ved hover */
    border-color: rgba(92, 30, 30, 0.8); /* Gør rammen mindre gennemsigtig ved hover */
    background-color: rgba(200, 200, 200, 0.3); /* Gør baggrunden lidt mindre gennemsigtig ved hover */
}

/* Lodret linje over symbolerne */
.social-icons::before {
    content: '';
    position: absolute;
    top: -250px; /* Juster for at placere den lodrette linje over ikonerne */
    left: 50%;
    transform: translateX(-50%);
    width: 0.5px; /* Tykkelse af linjen */
    height: 200px; /* Længden på den lodrette linje */
    background-color: rgba(255, 255, 255, 0.5); /* Grå gennemsigtig linje */
    
}




/* Promo tekst til højre */
.navbar .promo {
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center; /* Sørg for, at promo-teksten er på linje med logo og knapper */
    height: 100px; /* Ens højde for bedre alignment */
    margin-right: 20px;
    font-size: 18px;
}

/* Hvid linje under logo, knapper og promo tekst */
.top-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(85%);
    position: relative;
    z-index: 3; /* Behold z-index lavere end navbar */
    bottom: 120px;
    clear: both;
    transition: opacity 0.4s ease;
    border-radius: 20px;
}

.top-divider.scrolled {
    opacity: 0;
    z-index: 10; /* Sørg for, at navbaren kommer foran tekst og indhold, når der scrolles */
}


/* Header Section */
.main-header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 2;
    margin-bottom: -100px;
}

.sub-heading {
    font-size: 2.8rem;
    color: #b30202;
    margin-top: 0px; /* Ingen mellemrum op til toppen */
    margin-bottom: -40px; /* Mindsker mellemrummet mellem subheading og main heading */
    font-family: 'Outfit', sans-serif;
    font-weight: 300; /* Gør teksten tyndere */
    text-align: center;
   
}

.main-heading {
    font-size: 13rem;
    color: white;
    margin-top: 0px; /* Reducér mellemrummet op til subheading */
    margin-bottom: 5px; /* Mindsk mellemrummet til teksten nedenunder */
    font-family: 'Bebas Neue', cursive;
    text-align: center; /* Sørger for centreret tekst */
}


/* Tekstindhold overlay fjernet */
.header-content {
    z-index: 4; /* Højere end baggrundsbilledet */
}

/* Tekstindhold under titlen */
.header-content p {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    text-transform: uppercase; /* Gør al tekst til caps */
    text-align: center; /* Sørger for at teksten er centreret */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; /* Reducér mellemrum fra hovedoverskriften */
    max-width: 800px; /* Juster bredde for bedre linjebrud */
}


.header-buttons {
    margin-top: 20px;
    margin-left: 15px;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
    transition: opacity 0.3s ease;
    justify-content: center;
}

.btn-primary {
    background-color: #f32f2f;
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #f32f2f;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}

.buttom-divider-one {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(100%);
    transform: translateX(-45%);
    position: relative;
    z-index: 3; /* Behold z-index lavere end navbar */
    bottom: -265px;
    clear: both;
    transition: opacity 0.4s ease;
    opacity: 40%;
    border-radius: 20px;
}

.buttom-divider-two {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(100%);
    transform: translateX(45%);
    position: relative;
    z-index: 3; /* Behold z-index lavere end navbar */
    bottom: -530px;
    clear: both;
    transition: opacity 0.4s ease;
    opacity: 40%;
    border-radius: 20px;
}

.buttom-divider-three {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(61%);
    transform: translateX(69%);
    position: relative;
    bottom: 15px;
    clear: both;
    transition: opacity 0.4s ease;
    opacity: 40%;
    border-radius: 20px;
}

.buttom-divider-four {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(61%);
    transform: translateX(-5%);
    position: relative;
    bottom: -265px;
    clear: both;
    transition: opacity 0.4s ease;
    opacity: 40%;
    border-radius: 20px;
}

.buttom-divider-five {
    content: '';
    position: absolute;
    left: 15.3%;
    transform: translateX(-50%);
    bottom: -2950px;
    width: 1px;
    height: 850px;
    background-color: rgba(255, 255, 255, 0.5);
}

.buttom-divider-six {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(55%);
    transform: translateX(-5%);
    position: relative;
    bottom: 880px;
    clear: both;
    transition: opacity 0.4s ease;
    opacity: 40%;
    border-radius: 20px;
}




/* Contact Form Styles */
.contact-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

form input, form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
}

form input:focus, form textarea:focus {
    outline: 2px solid #ff0000;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
}
/* Sektion for måltidskasser */
.meal-boxes {
    margin: 150px auto;
    position: relative;
    padding: 60px 40px;
    max-width: 1600px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0) 0%, #1d1d1d 20%, #1d1d1d 80%, rgba(7, 7, 7, 0) 100%);
    
}

.meal-boxes .section-title {
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    color: #b30202;
    margin-bottom: 10px;
    font-weight: 200;
    padding-top: 0px;
}

/* Gør "MÅLTIDSKASSER" grå */
.gray-text {
    color: rgb(167, 165, 165); /* Sætter farven til grå */
}

.meal-boxes .main-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}

.boxes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Hver boks */
.box {
    position: relative;
    width: 300px;
    height: 500px; /* Passende højde for aflange bokse */
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.05); /* Lidt zoom ved hover */
}

/* Billede i boksen */
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

/* Fader billede i bunden med en mørkere gradient */
.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* Justér højden af gradienten */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); /* Fra gennemsigtig til mørkere */
    pointer-events: none;
}

/* Rammen som fader ud fra top til bund */
.box::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    pointer-events: none;
    opacity: 20%;
    
    /* Tegn kun rammen uden fyld */
    border: 0.5px solid rgba(127, 127, 127, 1); /* Fast grå linje */
    
    /* Fader ud fra top til bund */
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
 
/* Titel (h3) inden i billedet */
.box h3 {
    margin-top: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    bottom: 80px; /* Sørger for, at titlen er over beskrivelsen */
    left: 20px; /* Justér for at være inde i rammen */
    margin: 0;
}

/* Beskrivelse (p) inden i billedet */
/* Beskrivelse (p) inden i billedet */
.box p {
    font-family: 'Outfit', sans-serif; /* Hold fonten, eller ændr som ønsket */
    font-weight: 100; /* Gør teksten tyndere */
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    position: absolute;
    bottom: 40px; /* Sørger for, at beskrivelsen er tættere på bunden */
    left: 20px; /* Justér for at være inde i rammen */
    margin: 0;
    width: 80%; /* Sørger for, at teksten holder sig inde i rammen */
    text-align: left;
}



/* Tekstskygge for bedre synlighed */
.box h3, .box p {
    padding-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.box h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    bottom: 100px; /* Justér denne værdi for at rykke titlen længere op */
    left: 20px; /* Justér for at være inde i rammen */
    margin: 0;
}

/* Sektion for at udforske måltidskasser */
.explore-meals {
    margin: 200px auto;
    position: relative;
    padding: 60px 40px;
    max-width: 1600px;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0) 0%, #1d1d1d 20%, #1d1d1d 90%, rgba(7, 7, 7, 0) 100%);
    
}


/* Brug af eksisterende stilarter til titler */
.explore-meals .section-title {
    margin-top: 70px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    color: #b30202;
    margin-bottom: 10px;
    font-weight: 200;
}

.explore-meals .main-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin-bottom: 50px;
}

/* Produktboksene */
.category-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Tillader at boksene kan wrappe på mindre skærme */
}

.category-box {
    background-color: #070707;
    padding: 20px;
    border-radius: 10px;
    width: 250px; /* Fast bredde */
    text-align: center;
    transition: transform 0.3s ease;
}

.category-box img {
    width: 100%;
    border-radius: 10px;
    height: 150px; /* Ens højde på billederne */
    object-fit: cover; /* Sørger for at billedet passer i boksen */
}

.category-box h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-top: 15px;
    color: #fff;
}

.category-box p {
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 10px;
}

.category-box:hover {
    transform: scale(1.05); /* Lidt zoom ved hover */
}

/* Knappen nederst i sektionen */
.explore-meals .btn-explore {
    display: inline-block;
    margin-top: 70px;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.explore-meals .btn-explore:hover {
    opacity: 0.8;
}

/* Japanske Traditioner Sektion */
/* Japanske Traditioner Sektion */
.japanese-tradition {
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0) 0%, #1d1d1d 20%, #1d1d1d 90%, rgba(7, 7, 7, 0) 100%);
    padding: 60px 0;
    color: #fff;
}

.tradition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 70px;
    margin-bottom: 200px;
}

.tradition-image {
    flex: 1;
}

.tradition-image img {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
}

.tradition-text {
    flex: 1;
    padding-left: 120px;
}

.section-small-title {
    margin-top: 70px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    color: #b30202;
    margin-bottom: 10px;
    font-weight: 200;
}

.main-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 20px;
}

.tradition-text p {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 20px;
}

/* Plans Section */
.meal-boxes {
    margin: 150px auto;
    padding: 60px 40px;
    max-width: 1600px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0) 0%, #1d1d1d 20%, #1d1d1d 80%);
}

.section-title {
    font-size: 1.4rem;
    color: #b30202;
    margin-bottom: 10px;
}

.main-title {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #070707;
    color: #fff;
}

/* Plans Section */
.meal-boxes {
    margin: 150px auto;
    padding: 60px 40px;
    max-width: 1600px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom, rgba(7, 7, 7, 0) 0%, #1d1d1d 20%, #1d1d1d 80%);
}

.section-title {
    font-size: 1.4rem;
    color: #b30202;
    margin-bottom: 10px;
}

.main-title {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
}

/* Toggle Buttons */
.toggle-wrapper {
    width: 140px;
    height: 40px;
    position: relative;
    margin: 20px auto;
    background-color: #2b2b2b;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #f32f2f;
}

.toggle-option {
    flex: 1;
    text-align: center;
    line-height: 40px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    width: 50%;
    transition: opacity 0.3s ease;
    transition: font-weight 0.3s ease; /* Tilføj overgang for font-vægt */
}

/* For selected state */
.toggle .active {
    color: #fff;
    font-weight: bold;
}

#monthly-option {
    left: 0;
}

#weekly-option {
    right: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f32f2f;
    border-radius: 20px;
    transition: all 0.3s ease;
    z-index: 0;
    
}



/* Plans */
.plans-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.plan-card {
    background-color: #2b2b2b;
    color: #fff;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent; /* Tilføj en border-transition */
}

.plan-card:hover {
    background-color: #3a3a3a; /* Lysere grå ved hover */
    transform: scale(1.05); /* Zoom lidt ind ved hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.plan-card.selected {
    transform: scale(1.1); /* Lidt større når valgt */
    background-color: #564f4f; /* Skift farve ved valg */
    box-shadow: 0 0 20px rgba(243, 47, 47, 0.5); /* Glød effekt */
    border: 2px solid #fff; /* Tilføj en hvid border for at vise valg */
    transition: all 0.4s ease; /* Gør overgangen glat */
}

.plans-container .plan-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Sørg for, at indholdet er på linje */
    height: 450px; /* Ens højde på alle bokse */
}

.plan-card.special {
    background-color: #fd2e2e; /* Rød baggrund for speciel boks */
    color: #000;
    border: 2px solid transparent;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* Overgange for animationer */

}

.plan-card.special.selected {

    background-color: #f43c3c; /* Mørkere rød nuance ved valg */
    transform: scale(1.15); /* Gør denne lidt større end de andre ved valg */
    box-shadow: 0 0 80px rgba(255, 0, 0, 0.8); /* Tilføj en kraftigere glød */
    border: 2px solid #fff; /* Hvid border for den specielle plan */
    transition: all 0.4s ease;
}

.plan-card h3 {
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
    color: #f32f2f;
}

.plan-card.special h3 {
    color: #000;
}

.plan-card.special ul {
    margin-top: 10px;
}

/* Ens justering af prisen */
.plan-card .price {
    font-size: 3rem;
    margin-top: 20px; /* Ens justering for alle */
    font-family: 'Bebas Neue', cursive;
}

.plan-card.special .price {
    color: #000;
    margin-top: 20px;
}

.plan-card.special .badge {
    position: absolute;
    top: -20px; /* Juster topplaceringen af badgen */
    right: -20px; /* Juster højre placeringen */
    background-color: #fff;
    color: #f32f2f;
    padding: 15px 20px; /* Gør badgen større */
    border-radius: 50px; /* Oval form */
    font-size: 1rem; /* Justér tekststørrelse */
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Let skygge */
    display: flex; /* Gør badgen fleksibel for nem centrering */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px; /* Øg bredden af badgen */
    height: 60px; /* Øg højden af badgen */
}

.plan-card.special .badge .normal-price {
    font-size: 1.6rem; /* Større tekststørrelse for prisen */
    font-weight: bold; /* Gør prisen fed */
    line-height: 1.2;
}

.specialprice {
    font-size: 5rem;;
}


.plan-card ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.plan-card ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.choose-btn {
    background-color: transparent; /* Gennemsigtig baggrund */
    color: #fff; /* Tekstfarve */
    font-family: 'Bebas Neue', cursive;
    padding: 10px 20px;
    border: 2px solid #fff; /* Kun en hvid border rundt om knappen */
    border-radius: 25px; /* Oval form */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Glatte overgange */
    margin-top: 30px; /* Gør knapperne på alle bokse ens */
    text-align: center; /* Centrér tekst */
}

.choose-btn:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lysere nuance ved hover */
    border-color: #ccc; /* Lysere border ved hover */
}

.plan-card.special:hover {
    background-color: #f43c3c; /* Mørkere rød nuance ved valg */
    transform: scale(1.1); /* Zoom lidt ind ved hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.plan-card.special .choose-btn {
    margin-top: -2px;
    background-color: transparent; /* Gennemsigtig baggrund */
    color: #000; /* Sort tekst for den specielle */
    border: 2px solid #000; /* Sort border for den specielle */
}

.plan-card.special .choose-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Let grå nuance ved hover */
    border-color: #141414; /* Mørkere grå border ved hover */
}

.learn-more {
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

.learn-more:hover {
    opacity: 0.8;
}

.plan-card.special .learn-more {
    color: #000;
}

/* Justering af badges og learn-more */
.plan-card .learn-more {
    color: #fff;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}


.plan-card .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    color: #b30202;
    font-size: 0.8rem;
    padding: 15px 10px;
    border-radius: 50%;
    transform: rotate(-10deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid;
}
